@import url('https://fonts.googleapis.com/css?family=Cookie|Port+Lligat+Sans&display=swap');

body {
    background-color: #232D3A;
    /* background-size: 100%; */

    color: #EBEFE9;
    font-family: 'Port Lligat Sans', sans-serif;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Cookie', cursive;
    font-size: 4em;
}